#active-game {
    text-align: center;
    margin: 2rem 0 5rem 0; 
    display: none;
}

#game-over {
    width: 90%;
    max-width: 40rem;
    padding: 1rem 2rem;
    margin: auto;
    color: white;
    background-color:  #641fbe;
    border-radius: 4px;
    display: none;
   }

   #game-over h3 {
    font-size: 2.5rem;
   }

   #game-board {
       display: grid;
       list-style: none;
       margin: 1rem 0;
       padding: 0;
       grid-template-columns: repeat(3, 6rem); /** 6rem 6rem 6rem fonctionne aussi. En gros, ça permet de créer plusieurs colonnes
       quand on a fait un grillage(grid). Pour Repeat, le 1er nombre donne le nombre de colonne. Pour le 6rem 6rem, 6rem, c'est
       autant de fois qu'on répète. **/
       grid-template-rows: repeat(3, 6rem);
       justify-content: center;
       gap: 0.5rem;
   }

   #game-board li {
       background-color: #F1E4FE;
       border-radius: 2px;
       cursor: pointer;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2.5rem;
       font-weight: bold;
   }

   #game-board li:hover {
       background-color: #641fbe;
   }

   #game-board li.disabled {
       color:white;
       cursor: default;
       background-color: #641fbe;
   }
